@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@500&display=swap');

body{
    font-family: 'Urbanist', sans-serif;
    padding: 0rem;
    margin: 0rem;
    color:black
}

h2{
    text-transform: capitalize;
}

a{
    text-decoration: none;
}

#navbar{
    min-width: 290px;
    width: 250px;
    background-image: linear-gradient(to left bottom, #000000, #000742, #00106b, #0003a0, #484bf0);
    padding: 1rem;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;

    min-width: 10rem;
}

h1{
    color: whitesmoke;
    border-bottom: 4px solid whitesmoke;
    text-transform: capitalize;
}

#navbar ul{
    padding: 0rem;
    border-radius: 1rem;
}

#navbar li{
    list-style: none;
}

#navbar li:hover{
    border-left: 4px solid whitesmoke;
    background-color: rgb(92, 92, 255);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#navbar li:active{
    border-left: 4px solid whitesmoke;
    background-color: aqua;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#navbar li a{
    color: whitesmoke;
}

#main-doc{
    position: absolute;
    margin-left: 300px;
    margin-bottom: 110px;
    padding: 20px;
}

.image-container{
    display:grid;
    align-content: center;
}
img{
   
   width:90%;
    height: auto;
    max-width:30rem;
    box-shadow: 15px 15px 15px 1px  #757575;
    margin:0 auto;
}

code{
    background-color: rgb(233, 233, 233);
}

.code-box{
    background-color:#002240;
    display:block;
    color:white;
    
    border-left: 8px solid #7e82ff;
    padding:1rem;
}

thead{
    background-color: #002240;
    color: white;
}

table, td{
    border-collapse: collapse;
    border: 1px solid #002240;
}
tr:nth-child(even) {
    background-color: #dddddd;
}

.main-section{
    border-bottom: 4px solid #000742 ;
}
@media (max-width: 600px) {
    #main-doc{
        margin-top: 0px;
        margin-left: 0px;
        position: relative;
    }
    #navbar{
        position: relative;
        width: 100%;
    }
}